* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* header */
header {
  padding-bottom: 66px;
  background: linear-gradient(to bottom, rgba(167, 40, 0, 1) 69%, #fff 32%);
  color: #fff;
}
h1 {
  font-size: 96px;
  text-align: center;
}

.prominent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prominent__img img {
  width: 476px;
  height: auto;
  border-radius: 50%;
}
.foxminded-icon p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.prominent__fact {
  margin-right: 55px;
  padding-bottom: 135px;
}
.prominent__fact p {
  margin-bottom: 19px;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
}
.prominent__fact time {
  display: block;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  line-height: 47px;
}
.prominent__fact span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
/* /header */

/* main */
main {
  border-bottom: 20px solid rgba(167, 40, 0, 1);
}
.fact {
  margin-bottom: 24px;
  padding: 15px;
  background: rgba(217, 217, 217, 1);
  font: 400 14px "Roboto Mono", monospace;
  text-align: center;
}
.about p {
  margin-bottom: 20px;
  text-align: justify;
}
.inventions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 31px;
}
.invention {
  background: rgba(217, 217, 217, 1);
  padding: 30px 24px;
  margin-bottom: 44px;
}
.invention p {
  font-weight: bold;
  margin-bottom: 19px;
}
.inventions ul li {
  margin-left: 20px;
  font-size: 14px;
}
/* /main */
