* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

$main-color: #cc5520;

body.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  background: #000;
  z-index: 1;
  opacity: 0.8;
}
body.active {
  overflow-y: hidden;
}
header {
  margin-bottom: 162px;

  background: linear-gradient(180deg, #ffe4d7 0%, #ffffff 100%);
  box-shadow: 0px 4px 16px 0px #4b008142;

  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 49px;
    padding-bottom: 68px;

    ul {
      display: flex;
      li {
        list-style: none;
        a {
          margin-left: 57px;
        }

        &.active a {
          color: $main-color;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          display: none;
        }
        a {
          color: #000;
          font-size: 18px;
          text-decoration: none;
        }
      }
    }
  }
  .content {
    padding-bottom: 76px;
    &-wrap {
      display: grid;
      align-items: center;
      h1 {
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 14px;
        align-self: end;
        font-size: 50px;
      }
      p {
        grid-column: 1;
        grid-row: 2/3;
        margin-bottom: 60px;
        align-self: start;
        font-size: 20px;
      }
      .download {
        grid-column: 1;
        grid-row: 3;
        img {
          margin-left: 0;
          &:nth-child(2) {
            margin-left: 20px;
          }
        }
      }

      img {
        grid-column: 2;
        grid-row: 1/4;
        margin-left: 32px;
      }
    }
  }
}
main {
  .customer-help {
    margin-bottom: 150px;

    .container {
      position: relative;
    }
    h2 {
      position: absolute;
      left: 0;
      top: 0;
      width: 40%;
      font-size: 50px;
    }

    .cards {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 75px;
      margin-left: 78px;

      .card {
        position: relative;
        align-self: center;
        padding: 13px 48px 48px 48px;
        width: 80%;
        border-radius: 10px;
        box-shadow: 5px 20px 50px 0px #ea912780;
        background: #fff;

        &::before {
          content: "";
          position: absolute;
          z-index: -2;
          width: 153px;
          height: 153px;
          background: url(./images/customer-help/dots.png) no-repeat center;
          opacity: 0.9;
        }
        &:nth-child(1)::before {
          bottom: -103px;
          left: -103px;
        }
        &:nth-child(2)::before {
          top: -103px;
          right: -103px;
        }
        &:nth-child(3)::before {
          bottom: -103px;
          right: -103px;
        }
        &-group {
          display: flex;
          flex-direction: row-reverse;
          align-items: flex-end;
          justify-content: space-between;
          padding-bottom: 16px;
        }
        p {
          margin-bottom: 52px;
          color: #0f001a;
          font-size: 16px;
          line-height: 26px;
        }
        a {
          position: relative;
          text-decoration: none;
          color: $main-color;
          margin-bottom: 48px;

          &::before {
            content: "";
            position: absolute;
            right: -30px;
            width: 20px;
            height: 20px;
            background: url(./images/icons/arrow.png) no-repeat center;

            &:hover {
              right: -35px;
            }
          }
        }
      }
    }
  }

  .tl {
    grid-row: 1/3;
  }
  .br,
  tr {
    grid-column: 2;
  }
  .how-it-works {
    margin-bottom: 150px;
    padding: 95px 0;
    color: #fff;
    background: $main-color;

    h2 {
      padding-bottom: 85px;
      font-size: 26px;
      font-weight: normal;
      text-align: center;
    }
    .cards {
      display: flex;
      justify-content: space-between;

      .card {
        text-align: center;

        h2 {
          padding-bottom: 8px;
          font-size: 18px;
          font-weight: normal;
        }
        p {
          font-size: 16px;
        }
        img {
          padding-bottom: 33px;
        }
      }
    }
  }

  .testimonials {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 77px;

    &::before {
      content: "";
      position: absolute;
      right: -3%;
      top: 40%;
      width: 153px;
      height: 153px;
      transform: translate(-50%);
      background: url(./images/customer-help/dots.png) no-repeat center;
    }

    h2 {
      grid-column: 2;
      font-size: 50px;
      text-align: center;
    }
    &-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    .image-container {
      grid-column: 1;
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 23px;
      text-align: center;

      img {
        z-index: 1;
      }
      &::after {
        content: "";
        position: absolute;
        left: -100%;
        bottom: 0;
        width: 190%;
        height: 65%;
        z-index: -1;
        background: #ffe9d0;
      }
    }
  }

  .slider {
    position: relative;
    grid-column: 2;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: url(./images/icons/quote.png) no-repeat center;
      background-size: cover;
      width: 50px;
      height: 50px;
    }
  }
  .slider-wrap {
    position: relative;
    display: flex;
    overflow-x: hidden;
    margin-top: 90px;

    .slide {
      flex: 0 0 auto;
      width: 100%;
      transition: 0.3s;

      p,
      span {
        color: #0f001a;
      }
      p {
        position: relative;
        font-size: 16px;
      }
      span {
        margin-bottom: 6px;
        font-size: 18px;
      }
    }
  }
  .slider-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 2;

    .arrow-left,
    .arrow-right {
      padding: 22px 27px;
      box-shadow: 0px 4px 16px 0px #00000014;
      path {
        height: 20px;
        width: 20px;
        fill: #cc5520;
      }

      &:hover {
        background: #cc5520;
        path {
          fill: #fff;
        }
        cursor: pointer;
      }
    }

    .arrow-left {
      border-radius: 10px 0 0 10px;
    }
    .arrow-right {
      border-radius: 0 10px 10px 0;
    }
  }

  .promotion-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    margin-bottom: 123px;

    .content {
      h2 {
        margin-bottom: 13px;
        font-size: 25px;
      }
      p {
        margin-bottom: 56px;
        color: #0f001a;
        font-size: 16px;
      }
    }
  }
}

footer {
  padding-top: 50px;
  background: #cc5520;
  color: #fff;
  text-align: center;

  .logo {
    height: 22px;
    width: 126px;
  }

  .footer-wrap {
    display: flex;
    justify-content: space-between;
  }
  .lg {
    margin-left: 30px;
  }
  ul {
    list-style: none;

    li {
      padding-bottom: 22px;
      list-style: none;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .list-header {
    margin-bottom: 20px;

    span {
      padding-bottom: 5px;
      font-size: 27px;
      border-bottom: 2px solid #fff;
    }
  }

  .list-group {
    display: flex;
    margin-bottom: 32px;

    p {
      margin-bottom: 20px;
      font-size: 18px;
      text-align: left;
    }
    form {
      display: flex;

      input {
        margin-bottom: 11px;
        padding: 10px 18px;
        width: 80%;
        font-size: 14px;
        border: none;
        outline: none;
        border-radius: 3px;
      }
      input[type="submit"] {
        margin-left: 10px;
        width: 30%;
        font-size: 16px;
        color: #cc5520;
        cursor: pointer;
      }
    }
  }

  .form-group {
    margin-bottom: 32px;
    width: 33%;

    p {
      margin-bottom: 20px;
      font-size: 18px;
      text-align: left;
    }
    form {
      display: flex;

      input {
        margin-bottom: 11px;
        padding: 10px 18px;
        width: 80%;
        font-size: 14px;
        border: none;
        outline: none;
        border-radius: 3px;
      }
      input[type="submit"] {
        margin-left: 10px;
        width: 30%;
        font-size: 16px;
        color: #cc5520;
        cursor: pointer;
      }
    }
  }

  .copyright {
    border-top: 1px solid #fff;

    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 22px 0;
    }
    span {
      display: block;
      text-align-last: left;
    }
    .socials {
      display: flex;
      justify-content: end;

      img {
        margin-left: 18px;
      }
    }
  }
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 750px;
    padding: 0 15px;
    margin: 0 auto;
  }
  main {
    .customer-help {
      .cards {
        grid-gap: 40px;
        margin-left: 0;

        .card {
          width: 100%;

          &::before {
            content: none;
          }
        }
      }
    }
  }

  footer {
    .footer-wrap {
      display: flex;
      flex-direction: column;

      .logo {
        margin: 0 auto;
        margin-bottom: 49px;
      }
      .list-group {
        flex-direction: column;

        .lg {
          margin-bottom: 30px;
          margin-left: 0;
        }
      }
      .form-group {
        width: 100%;

        form {
          flex-direction: column;

          input {
            width: 100%;
            margin: 0;

            &:first-child {
              margin-bottom: 11px;
            }
          }
        }
        p {
          text-align: center;
        }
      }
    }
    .copyright {
      position: relative;
      border-top: none;

      &-wrap {
        padding: 20px;
        flex-direction: column-reverse;

        .socials {
          margin-bottom: 56px;
        }
        span {
          padding: 20px 0px;
          font-size: 10px;
          text-align: center;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 88px;
          width: 100%;
          height: 1px;
          background: #fff;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 750px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: 750px;
    padding: 0 15px;
    margin: 0 auto;
  }

  main {
    .customer-help {
      margin-bottom: 0;

      h2 {
        position: static;
        margin-bottom: 23px;
        width: 100%;
        text-align: center;
        font-size: 30px;
      }
      .cards {
        display: block;

        .card {
          width: 100%;
          margin-bottom: 40px;
          grid-column: 1fr;
          &-group {
            position: relative;
            h3 {
              position: absolute;
              bottom: 20px;
              left: 0;
            }
            img {
              width: 80%;
            }
          }
        }
      }
      .tr::before,
      .br::before,
      .tl::before {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  header.active {
    .logo {
      z-index: 3;
    }
    ul {
      z-index: 2;
      padding-top: 150px;
      top: 0%;
      transition: 0.4s;
    }
  }
  header {
    margin-bottom: 0;
    box-shadow: none;

    nav {
      .logo {
        margin: 0 auto;
        z-index: 1;
      }
      ul {
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translate(-50%);
        flex-direction: column;
        width: 100%;
        height: auto;
        text-align: center;
        background: linear-gradient(180deg, #ffe4d7 0%, #ffffff 100%);
        transition: 0.4s linear;

        li {
          padding: 29px 0;

          a {
            margin: 0;
            font-size: 31px;
          }

          &:hover {
            background: $main-color;
          }
          &:last-child {
            display: block;
          }
        }
        li:hover a {
          color: #fff;
        }
      }
    }
    .content {
      padding-bottom: 64px;

      &-wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4 1fr);
        justify-content: center;
        width: 100%;

        p {
          grid-column: 1;
          grid-row: 2;
          margin-bottom: 0;
          text-align: justify;
        }
        img {
          grid-column: 1;
          grid-row: 3;
          width: 100%;
          margin: 0;
          margin-bottom: 30px;
        }
        .download {
          display: flex;
          grid-column: 1;
          grid-row: 4;

          img {
            width: 90%;
            &:nth-child(2) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  main {
    .customer-help {
      h2 {
        text-align: left;
      }
    }
    .how-it-works {
      margin-bottom: 49px;
      padding: 58px 0;

      h3 {
        padding: 55px;
      }
      .cards {
        flex-direction: column;
      }
      .card {
        margin-bottom: 50px;

        img {
          padding-bottom: 30px;
        }
      }
    }
    .testimonials {
      &::before {
        display: none;
      }

      .testimonials-wrap {
        grid-template-columns: 1fr;

        h2 {
          grid-column: 1;
          margin-bottom: 26px;
          font-size: 26px;
        }
        .image-container {
          padding: 0;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 65%;
            z-index: -1;
            background: #ffe9d0;
          }
        }
        .slider,
        .slider-control {
          grid-column: 1;
        }
        .slider {
          &::before {
            content: "";
            width: 113px;
            height: 113px;
          }
        }
        .slider-wrap {
          margin-top: 0;
        }
        .slicer {
          margin-bottom: 6px;
        }
        .slide {
          position: relative;
          z-index: 1;
          padding-top: 60px;
          margin-bottom: 6px;

          p {
            margin-bottom: 20px;
          }
          span {
            font-weight: bold;
          }
          img {
            position: absolute;
            top: 20px;
            margin: 0;
            width: 70px;
            height: auto;
          }
        }
      }
    }
    .promotion {
      .promotion-wrap {
        grid-template-columns: 1fr;
        margin-bottom: 46px;

        img {
          margin-bottom: 26px;
          width: 100%;
        }
        .content {
          grid-column: 1;

          p {
            margin-bottom: 24px;
            text-align: justify;
          }
          .group {
            display: flex;
            justify-content: space-between;

            img {
              width: 48%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  header {
    .content {
      h1 {
        font-size: 36px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}
